/* main layout */

html {
  height: 100%;
}
body{
  height: 100%;
  width: 100%;
}
#main{
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  padding-bottom: calc($footer-height + 20px);
}
/*#main{
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    background: url('img/bg.jpg') 0 0 no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}
*/
/* content */
.content{
  position:relative;
  height: auto;
  padding: 8px 18px;
}
