/* main layout */

html {
	height: 100%;
}
body{
	height: 100%;
	width: 100%;
}
#main{
    position: relative;
    z-index: 2;
    width: 100%;
    min-height: 100%;
    height: auto !important;
	height: 100%;
    margin: 0 auto;
    padding: 0 0 $footer-height;
}

/* content */
.content{
	position:relative;
	height: auto;
}

