/*Set your project variables here*/
$bad-color: #ce0832; /*Bad color for errors, validation etc.*/
$good-color: #5dae1b; /*Good color for success etc.*/
$info-color: #10bade; /*Good color for success etc.*/
$warning-color: #dea110; /*Good color for success etc.*/
$subtle-color: #999; /*Subtle color for subtle text*/
$base-background: #F7F7F7;
$base-color: #FD1243;
$base-color-1: #00B6F5;
$base-color-2 :#FFC717;

$padding: 30px;
$margin: 12px;
$footer-height: 48px;

/* colors */
$color-white: #fbfcfd;
$color-blue: #3bbfce;
$color-input: #e4e4e4;
$color-border: #B4B4B4;
$color-bg: #383838;
$color-success: #a7b92a;
$color-error: #fc6767;

/* fonts*/

$font-default: Arial, Verdana, Helvetica, sans-serif;
$font-additional: "Roboto-Regular", Arial, Verdana, Helvetica, sans-serif;
$font-additional-bold: "Roboto-Bold", Arial, Verdana, Helvetica, sans-serif;
$font-additional-medium: "Roboto-Medium", Arial, Verdana, Helvetica, sans-serif;
$font-unit: 1px;
