/*Set your project variables here*/
$bad-color: #ce0832; /*Bad color for errors, validation etc.*/
$good-color: #5dae1b; /*Good color for success etc.*/
$info-color: #10bade; /*Good color for success etc.*/
$warning-color: #dea110; /*Good color for success etc.*/
$subtle-color: #999; /*Subtle color for subtle text*/
$base-background: #F1F3F7;
$base-color: #38A00D;
$base-color-1: #1A743D;
$base-color-2 :#088C19;

$br: 3px;  /*Border-radius*/
$btn-br: 3px;  /*Button border-radius*/
$padding: 40px;  /*Consistent padding and margins*/
$margin: 10px;

/* colors */
$color-white: #fbfcfd;
$color-blue: #3bbfce;
$color-input: #e4e4e4;
$color-border: #B4B4B4;
$color-bg: #383838;
$color-success: #a7b92a;
$color-error: #fc6767;

/* fonts*/

$font-default: Arial, Verdana, Helvetica, sans-serif;
$font-external: fira_sansbook, Arial, Verdana, Helvetica, sans-serif;
$font-additional: "Roboto-Regular", Arial, Verdana, Helvetica, sans-serif;
$font-unit: 1px;
