//- index.jade
extends ./../layout.jade


block page-title
	title Стартовая страница

block sidebar
	-var currentItem = 'index.html';
	include ./../partials/sidebar

block content
	section.part--content
		header.part__head
			h1.part__title Заголовок стартовой страницы
		article.part__inner
			h2.article__title Ненумерованный список 
				div(class='list__wrap')
					ul(class='list__body')
						each item in ['Тип', 'Специализация', 'Город']
							li(class='list__item')
								b(class='list__value')= item
			hr
			h2.article__title Список ссылок
			+menu('menu__list', 'menu__item', 'menu__link', "Первое", "Второе", "Третье", "Четвертое")
			hr
