/* footer */
#footer{
  position: relative;
  height: $footer-height;
  margin-top: -$footer-height;
  background-color: color($base-background l(+1%));
  border-top: solid 4px $base-color-1;
  z-index: 1;
  box-shadow: 0 0 2px rgba(35,35,35,0.2) inset, 
              0 0 4px rgba(35,35,35,0.4) inset, 
              0 0 10px rgba(35,35,35,0.5) inset;
 }
.footer{
  position: relative;
  color: #4a545d;
  font: 13px/1.35 $font-default;
  &__info{
    position: absolute;
    left: 50%;
    bottom: -42px;
    text-align: center;
    font-size: 15px;
  }
}

