/* sidebar */
.sidebar{
	padding: 16px 10px;
	background: color($base-background l(+3%));
	border: solid 1px color($base-background b(15%));
	border-radius: 2px;
	&__title{
		display: inline-block;
		font-family: $font-additional-bold;
		font-size: 20px;
		line-height: 1.5;
		color: $base-color-1;
		cursor: default;
	}
}
