<div class="container">
  <form class="form-horizontal">
    <fieldset>
      <div class="col-sm-6">
        <legend>Регистрация</legend>
        <div class="form-group">
          <label class="col-sm-2 text-right control-label" for="fieldEmail">Имя</label>
          <div class="col-sm-8">
            <input class="form-control" ng-model="lc.signupUser.name" type="text" id="fieldName" placeholder="Имя">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 text-right control-label" for="fieldSurname">Фамилия</label>
          <div class="col-sm-8">
            <input ng-model="lc.signupUser.surname" type="text" class="form-control" id="fieldSurname" placeholder="Фамилия">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 text-right control-label" for="fieldEmail">E-mail</label>
          <div class="col-sm-8">
            <input ng-model="lc.signupUser.email" type="email" class="form-control" id="fieldEmail" placeholder="email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 text-right control-label" for="fieldPassword">Пароль</label>
          <div class="col-sm-8">
            <input ng-model="lc.signupUser.password" type="password" class="form-control" id="fieldPassword" placeholder="Пароль">
          </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="lc.signUp()">Зарегистрироваться</button>
      </div>    
    </fieldset>
  </form>
</div>