<div class="container">
  <h1>Пользователи</h1>
  <form ng-show name="edtiUser" >
    <div class="form-group">
      <label for="nameEdit">Имя</label>
      <input type="text" class="form-control" id="nameEdit" placeholder="Имя" ng-model="uc.editingUser.name">
    </div>
    <div class="form-group">
      <label for="surnameEdit">Фамилия</label>
      <input type="text" class="form-control" id="surnameEdit" placeholder="Фамилия" ng-model="uc.editingUser.surname">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success" ng-click="uc.saveUser()">Сохранить</button> 
      <button type="submit" class="btn btn-default" ng-click="uc.cancelEditUser()">Cancel</button> 
      <button type="submit" class="btn btn-danger pull-right" ng-click="uc.removeUser()">Delete</button>
    </div>
  </form>
  <table class="table">
    <tr>
      <th>Имя</th>
      <th>Аватар</th>
      <th>Зарегистрирован</th>
    </tr>
    <tr ng-repeat="user in uc.users">
      <td> {{ user.surname }} {{ user.name }} </td>
      <td> <img ng-src="{{ user.picture }}" alt="{{ user.name }}">  </td>
      <td> {{ user.registered | since}} </td>
    </tr>
  </table>
</div>

