/* Typography styles */
body {
  font-family: $font-additional; 
  font-size: 15px;
  line-height: 1.35;
  font-weight: 100;
  font-style: normal;
}
hr{
	border-bottom: transparent;
}
h1{
}
.title-h1{
	display: inline-block;
	margin: 0;
	padding: 0 25px;
	color: $black-3;
	font: normal 34px/58px $font-additional;
	border-bottom: solid 2px $black-4;
}
.title-h2{
  font: normal 22px/30px $font-additional;
}
h3, .title-h3{
	font: normal 16px/24px $font-additional;
}

@define-extend p{
  font: normal 15px/1.35 $font-additional;
}
p, .p{
	font: normal 15px/1.35 $font-additional;
}
.p-normal{
  @extend p;
  font-weight: normal;
}
.p-gray{
  font-size: calc($font-unit * 14);
  line-height: calc($font-unit * 20);
  color: #5f5f5f;
}
.p-italic-gray{
  font-size: calc($font-unit * 12);
  line-height: calc($font-unit * 16);
	font-style: italic;
	color: $gray-7;
}
.text-sm{
  font-family: $font-default;
  font-size: calc($font-unit * 12);
  line-height: calc($font-unit * 24);
}

/* Links in text */
a{
  border-bottom: 1px solid $base-color;
  font-size: 1em;
  line-height: 1.65;
  color: $base-color;
  transition: all 0.3s cubic-bezier(0.05, 0.6, 0.6, 0.25);  
  &:hover, 
  &:focus{
    border-bottom-color: color($base-color lightness(45%));
    color: color($base-color saturation(90%));
    text-decoration: none;
  }
}
a.is-active{
  border-bottom: none;
  cursor: default;
}


