/* footer */
#footer{
	position: relative;
	height: $footer-height;
	margin-top: -$footer-height;
    background-color: $base-color-1;
	border-top: solid 1px color($base-background b(3%));
	z-index: 1;
 }
.footer{
	position: relative;
	color: #4a545d;
	font: 14px/18px $font-default;
	&__info{
		position: absolute;
		left: 50%;
		bottom: -60px;
		text-align: center;
		font-size: 13px;
		color: white;
	}
}

