/* header */
#header{
    position:relative;
    z-index: 14;
    min-height: 119px;
    margin: 0 auto;
    background-color: $base-background;
    border-bottom: solid 1px color($base-background b(* 4)) ;
}
.header{
	&__logo{
        font: 28px/1.35 $font-default;
		margin-top: 26px;
		&-link{
			border-bottom: none;
		}
        &-img{}
	}
    &__soc{
		text-align: right;
        &-list{
            margin: 35px 0 38px;
        }
        &-item{
            display: inline-block;
            margin-left: 22px;
        }        
        &-link{
            display: block;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: $base-color-1;
            color: #fff;
            text-decoration: none;
            &:hover{
                background-color: $base-color-2;
            }
        }
        &-icon{
            display: block;
            font-size: 28px;
            line-height: 52px;
            text-align: center;
        }
    }
}
