/* header */
#header{
    position:relative;
    z-index: 10;
    min-height: 100px;
    margin: 0 auto;
}
.header{
    padding-top: 30px;
	&__logo{
        font: 28px/1.35 $font-default;
		&-link{
			border-bottom: none;
		}
        &-img{}
	}
    &__soc{
		text-align: right;
        &-list{
            margin: 35px 0 38px;
        }
        &-item{
            display: inline-block;
            margin-left: 22px;
        }        
        &-link{
            display: block;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: $base-color-1;
            color: #fff;
            text-decoration: none;
            &:hover{
                background-color: $base-color-2;
            }
        }
        &-icon{
            display: block;
            font-size: 28px;
            line-height: 52px;
            text-align: center;
        }
    }
}
