include ../helpers/variables
head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='description', content='Краткое описание страницы')
	meta(name='keywords', content='портфолио, верстка, фронтенд')
	link(rel='shortcut icon', href='favicon.ico')
	link(rel='stylesheet', href='#{pathCSS}/style.css')
	script(src='js/vendor/modernizr.js')
	// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
	// WARNING: Respond.js doesn't work if you view the page via file://
	//if lt IE 9
	script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
	script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
