- // header
.container-fluid#header
	header.container
		.row
			.col-md-4
				.header__logo
					a.header__logo-link(href="/" title="Главная")
						img.header__logo-img(src="/img/logo.png" width="140" height="80" alt="Logo" title="На главную" )   
