- // sidebar
.sidebar(role='navigation')
	b.sidebar__title Мотивация
	p Вы спортсмен, проводящий долгие часы в спортзале, или, напротив, офисный работник, редко покидающий свое кресло? Если вы хотите знать, как работает ваш организм, и приобщиться к правильному образу жизни, вам стоит обратить внимание на так называемые трекеры активности.
