//- layout.jade
include helpers/variables
include helpers/mixins
doctype html
html
	block page-title
		title Заголовок страницы	
	include partials/head
	body
		#main
			//- header
			include partials/header
			//- content
			.container.wrapper
				.row
					.col-md-3
						block sidebar
					.col-md-8
						//- content main page
						block content
		//- footer
		include partials/footer
		//- scripts
		include partials/scripts
		script.
			(function() {
			})();
